In [69]:
import sys
sys.path.append('..')

import pandas as pd
import numpy as np
import seaborn as sns
import re
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline
%load_ext autoreload
%autoreload 2

from chapters.chapter8 import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [77]:
# numpy assumes columns are observations, so we have to transpose our data
corr = lambda df: np.corrcoef(df.T)

In [70]:
df = pd.read_csv('../data/lsat_efron.csv')
df.head()

   lsat   gpa
0   576  3.39
1   635  3.30
2   558  2.81
3   578  3.03
4   666  3.44

In [75]:
c = corr(df)
c

array([[ 1.        ,  0.54591892],
       [ 0.54591892,  1.        ]])

In [76]:
se = np.sqrt(bootstrap_variance(df, corr, 10000))
se

array([[  9.41793757e-17,   1.96841299e-01],
       [  1.96841299e-01,   8.26799418e-17]])

In [72]:
bootstrap_ci_normal(df, corr, 10000, 0.05)

CI(lower=array([[ 1.        ,  0.16371497],
       [ 0.16371497,  1.        ]]), upper=array([[ 1.        ,  0.92812286],
       [ 0.92812286,  1.        ]]))

In [74]:
bootstrap_ci_pivot(df, corr, 10000, 0.05)

CI(lower=array([[ 1.        ,  0.09183783],
       [ 0.09183783,  1.        ]]), upper=array([[ 1.72633836,  0.8181762 ],
       [ 0.8181762 ,  1.72633836]]))

In [73]:
bootstrap_ci_percentile(df, corr, 10000, 0.05)

CI(lower=array([[ 1.        ,  0.20647611],
       [ 0.20647611,  1.        ]]), upper=array([[ 1.        ,  0.93652281],
       [ 0.93652281,  1.        ]]))